@inherits LayoutComponentBase

@*Layout para Tablero, para que no tenga barra de navegacion*@
<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

